.pokemonCard {
    display: flex;
    background: linear-gradient(to right, white 33.5%, #35BAFF 33.5%);
    border-radius: 8px;
    height: 137px;
    width: 100%;
    max-width: 352.25px;
    margin: 10px;
    overflow: hidden
}

.pokemonCard article {
    margin-top: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
}


.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.stats span {
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #4B4B4B;
}

.pokemonCard h4 {
    margin: 0 0 16px;
    text-align: center;
}

.statsValue {
    box-sizing: border-box;
    border: 3px solid #212121;
    width: 37px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    align-items: center;
    justify-content: center;
}

.statsInfo {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.statsInfo div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    height: 16px;
    width: 60px;
    border-radius: 11px;
    padding: 2px;
}

.statsInfo div:first-child {
    background-color: #73D677;
}

.statsInfo div:nth-child(2) {
    background-color: #07D6F2;
    ;
}

.statusBig {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.pokemonCard img {

    height: 156px;
    width: 167px;

}


@media screen and (max-width: 600px) {
    .pokemonCard {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .pokemonCard article {
        margin-left: 0;
        padding: 10px;
        text-align: center;
    }

    .pokemonCard img {
        height: auto;
        max-width: 100%;
    }

    .stats {
        flex-direction: column;
    }
}