.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    border-radius: 10px;
    position: relative;
    height: 371px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px
}

.modalContent article {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 16px;
    width: 55%;
    height: 100%;
}

.modalContent img {
    position: absolute;
    z-index: 1;
    height: 347px;
    width: 340px;
}

.imageContent {
    position: relative;
    border-radius: 16px 0px 0px 16px;
    height: 371px;
    width: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);

    
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    height: 16px;
    width: 60px;
    border-radius: 11px;
    padding: 2px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.imageContent p {
    position: relative;
    z-index: 2;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: -50px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.top {
    width: 98%;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
}

.name {
    font-family: 'Karla';
    font-size: 36px;
    line-height: 42px;
    color: #FDFDFD;
    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.geration {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FDFDFD;
}

.experienceGeneration {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 41px;
    border-radius: 100%;

    background-color: #F2CB07;
}

.abilities {
    height: 60px;
    width: 264px;
    background: #FDFDFD;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}

.abilities div {
    font-family: 'Karla';
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.points {
    background: #FDFDFD;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    border-radius: 8px;
    height: 78px;
    width: 401px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    padding-left: 20px;
}

.abilityRow {
    display: flex;
}

.healthPoints {
    background: linear-gradient(270deg, #64D368 0.15%, #64D368 70.88%);
    border-radius: 8px;
    height: 5px;
    width: 138px;
    border-radius: 8px;
}

.experience {
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    border-radius: 8px;
    height: 5px;
    width: 138px;
    border-radius: 8px;
}

.statusBig {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDFDFD;
    box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 82.42px;
    height: 69.94px
}

.statsValue {
    box-sizing: border-box;
    border: 3px solid #212121;
    width: 37px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    align-items: center;
    justify-content: center;
}

.statusPoints {
    display: flex;
    gap: 30px;
}

.stylesRight {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}